<html>
<head>
<title>Teachers report page</title>

<body>



<table border="1">
<tr>
<th>id</th>
<th>Teacher Name</th>
<th>Subject</th>
<th>Exp</th>
<th>Contact</th>
<th>Actions</th>

</tr>



{%  for s in teacher_list %}
<tr>
<td><a href="/ad/getteacherdetails/{{s.id}}">{{s.id}}</a></td>
<td>{{s.name}}</td>
<td>{{s.subject}}</td>
<td>{{s.exp}}</td>
<td>{{s.contact}}</td>
<td>

    <a href="/ad/updateteacher/{{s.id}}">update</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/ad/deleteteacher/{{s.id}}">delete</a>

</td>

</tr>
{% endfor %}

</table>
</body>

</html>
