{% load static %}
<html>
<head>
<title>update student details page</title>
<link rel="stylesheet" href="{% static "stylesheets/style.css" %}"/>
</head>
<body>


<h1>Hello , Welcome to update students page.</h1>

<img src="{% static "images/small_logo.png"  %}" width="100" height="100" alt="Image Not Found"/>

<h3>please fill below application form</h3><br/><br/>

<form method="POST">
<table>
  {{form.as_table}}
</table>


<br/>
<input type="submit" value="Update Student">

{% csrf_token %}
</form>

</body>

</html>
