{% load static %}
<html>
<head>
<title>add admissions page</title>
<link rel="stylesheet" href="{% static "stylesheets/style.css" %}"/>
</head>
<body>
<h2>
<img src="{% static "images/gurukul.png"  %}" width="100" height="100" alt="Image Not Found"/>
Gurukul Pathshala
</h2>
<br/>
<hr/>
<br/>
<br/><br/><br/>

<div class="module">
<h1>ADMISSIONS</h1><br/>
<a href="/ad/newadm"><button type="button" name="button">Add Admission</button></a><br/><br/>
<a href="/ad/admreport"><button type="button" name="button">Admission Report</button></a><br/><br/>
</div>

<div class="module">
<h1>FINANCE</h1><br/>
<a href="/fin/feecoll"><button type="button" name="button">Fee Collection</button></a><br/><br/>
<a href="/fin/collectionreport"><button type="button" name="button">Fee Collection Report</button></a><br/><br/>
<a href="/fin/duesreport"><button type="button" name="button">Fee Dues Report</button></a>
</div>


<br/><br/>

<a href="/accounts/logout">Logout</a>


<br/><br/>



</body>

</html>
